# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.6
  - repo: https://github.com/PyCQA/bandit
    rev: master
    hooks:
      - id: bandit
        args:
         - -x
         - devops/tests
  - repo: local
    hooks:
      - id: invoke-pre-commit
        name: Invoke pre-commit task
        entry: local-precommit-hook
        language: script
        pass_filenames: false
        files: (\.(yaml)$|envs\/.*\/settings\.py$)  # Add more types when relevant
